@namespace Components

<div>
    <RadzenIcon Icon="account_circle" /> Clan 1 <br>
    <RadzenIcon Icon="account_circle" /> Clan 1 <br>
    <RadzenIcon Icon="account_circle" /> Clan 1 <br>
    <RadzenIcon Icon="account_circle" /> Clan 1 <br>
</div> 