@namespace Components

@inject NavigationManager NavigationManager

<div>
    <div class="SidebarHeader">
        Clans
    </div>
    <RadzenImage Path="Icons\team.png" Style="width:40px;" /> <button class="btn btn-dark" @onclick="enterClanChat">Wutang Squad</button>(11/17)<br>
    <RadzenImage Path="Icons\team.png" Style="width:40px;" /> <button class="btn btn-dark" @onclick="fakeEnterClanChat">Apex Hunters</button>(1/6)<br>
    <RadzenImage Path="Icons\team.png" Style="width:40px;" /> <button class="btn btn-dark" @onclick="fakeEnterClanChat">H1Z1_E_lite_</button>(4/12)<br>
    <RadzenImage Path="Icons\team.png" Style="width:40px;" /> <button class="btn btn-dark" @onclick="fakeEnterClanChat">pubg_alphaSquad</button>(12/20)<br>
    <RadzenImage Path="Icons\team.png" Style="width:40px;" /> <button class="btn btn-dark" @onclick="fakeEnterClanChat">_LosSantos_Epic_</button>(3/5)<br>
    <RadzenImage Path="Icons\team.png" Style="width:40px;" /> <button class="btn btn-dark" @onclick="fakeEnterClanChat">Fall_guys</button>(3/10)<br>
    <RadzenImage Path="Icons\team.png" Style="width:40px;" /> <button class="btn btn-dark" @onclick="fakeEnterClanChat">Wh4ck4Gnome</button>(8/50)<br>
    <RadzenImage Path="Icons\team.png" Style="width:40px;" /> <button class="btn btn-dark" @onclick="fakeEnterClanChat">CCTechSupport</button>(85/500)<br>
</div>

@code
{
    private void enterClanChat()
    {
        NavigationManager.NavigateTo("clanchatroom");
    }
    private void fakeEnterClanChat()
    {
        // do nothing
    }
}