@namespace Components

@inject NavigationManager NavigationManager

<style>
    .SidebarHeader {
        font-size: 2em;
        text-align: center;
    }
</style>

<div>
    <div class="SidebarHeader">
        Clan Members
    </div>
    @* Golden name: administrator *@
    @* Green name: online users that are now playing some game *@
    @* Blue name: you *@
    @* White name: online users who are idle *@
    @* Gray name: offline users *@
    <RadzenIcon Icon="account_circle" /><span style="color:gold">TriumphantCat</span><br>
    <RadzenIcon Icon="account_circle" /><span style="color:rgb(57, 230, 0)">HotRedRubik</span> <br>
    <RadzenIcon Icon="account_circle" /><span style="color:rgb(57, 230, 0)">Vector91831</span> <br>
    <RadzenIcon Icon="account_circle" /><span style="color:rgb(57, 230, 0)">Opticrex</span> <br>
    <RadzenIcon Icon="account_circle" /><span style="color:rgb(57, 230, 0)">Elekr00</span> <br>
    <RadzenIcon Icon="account_circle" /><span style="color:rgb(57, 230, 0)">Sarahsaurus</span> <br>
    <RadzenIcon Icon="account_circle" /><span style="color:rgb(57, 230, 0)">Toadmilk</span><br>
    <RadzenIcon Icon="account_circle" /><span style="color:rgb(102, 204, 255)">Sinistra09 (Me)</span><br>
    <RadzenIcon Icon="account_circle" /> Hollyblood <br>
    <RadzenIcon Icon="account_circle" /> Mind_Ctrl <br>
    <RadzenIcon Icon="account_circle" /> _Annihilation_ <br>
    <RadzenIcon Icon="account_circle" /><span style="color:gray">ElfenRampage</span><br>
    <RadzenIcon Icon="account_circle" /><span style="color:gray">SoulfulJoe</span><br>
    <RadzenIcon Icon="account_circle" /><span style="color:gray">Blancanvas</span><br>
    <RadzenIcon Icon="account_circle" /><span style="color:gray">Checkmate8</span><br>
    <RadzenIcon Icon="account_circle" /><span style="color:gray">Mr.Wackojacko</span><br>
    <RadzenIcon Icon="account_circle" /><span style="color:gray">Buzzkilling</span><br>
</div>

@code
{

}