@namespace Components
@inject NavigationManager NavigationManager


<style>
    .header-grid{
        margin: 10px 5px 5px 5px;
        min-height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "button button button button button button button button";
    }

    .abutton {
        display: inline-block;
        height: 100px;
        padding: 0;
        margin: 0;
        vertical-align: top;
        width: 104px;
        color: white;
    }

    .imaj {
        max-height: 80px;
    }


</style>

<div class="header-grid">
    <RadzenButton class="abutton"  Style="background-color:#ffffff00">
        <RadzenImage Path="Icons/settings.png" Style="width:30px;"/>
        <br/>
        Settings
    </RadzenButton>
    
    <RadzenButton Click="TournamentNavigate" class="abutton" Style="background-color:#ffffff00">
        <RadzenImage Path="Icons\tournament.png" Style="width:30px;"/>
        <br/>
        Tournament
    </RadzenButton>

    <RadzenButton Click="ClansNavigate" class="abutton" Style="background-color:#ffffff00">
        <RadzenImage Path="Icons\team.png" Style="width:30px;"/>
        <br/>
        Clans
    </RadzenButton>

    <RadzenButton Click="HomeNavigate" class="abutton" Style="background-color:#ffffff00">
        <RadzenImage Path="Icons\logo.png" Style="width:110px;"/>
    </RadzenButton>

    <RadzenButton Click="FriendsNavigate" class="abutton" Style="background-color:#ffffff00">
        <RadzenImage Path="Icons\addUser.png" Style="width:30px;"/>
        <br/>
        Friends
    </RadzenButton>

    <RadzenButton Text="Notifications" Click="NotificationNavigate" class="abutton" Style="background-color:#ffffff00"> 
        <RadzenImage Path="Icons\notification.png" Style="width:30px;" />
        <br/>
        Notifications
    </RadzenButton>

    <RadzenButton Text="Profile" Click="ProfileNavigate" class="abutton" Style="background-color:#ffffff00">

    </RadzenButton>

    <RadzenButton Text="LogOut"  Click="LogoutNavigate" class="abutton" Style="background-color:#ffffff00">

    </RadzenButton>
    @* <button class="abutton" onclick="">
        <img class="imaj" src="Icons\settings.png">
    </button>

    <button class="abutton" onclick="TournamentNavigate">
        <img class="imaj" src="Icons\tournament.png"
    </button>

    <button class="abutton">
        <img class="imaj" src="Icons\team.png">
    </button>

    <button class="abutton">
        <img class="imaj" src="Icons\logo.png">
    </button>

    <button class="abutton">
        <img class="imaj" src="Icons\addUser.png">
    </button>

    <button class="abutton">
        <img class="imaj" src="Icons\notification.png">
    </button>

    <button class="abutton">
        Profile
    </button>

    <button class="abutton">
        LogOut
    </button> *@
</div>


@* <div class="header-grid">
    <RadzenButton Style="width:100px;height:100px;background-color:#ffffff00;">
        <RadzenImage Path="Icons/settings.png" Style="width:30px;"/>
        <br/>
        Settings
    </RadzenButton>
    
    <RadzenButton Click="TournamentNavigate" Style="width:100px;height:100px;background-color:#ffffff00">
        <RadzenImage Path="Icons\tournament.png" Style="width:30px;"/>
        <br/>
        Tournament
    </RadzenButton>

    <RadzenButton Click="ClansNavigate" Style="width:100px;height:100px;background-color:#ffffff00">
        <RadzenImage Path="Icons\team.png" Style="width:30px;"/>
        <br/>
        Clans
    </RadzenButton>

    <RadzenButton Click="HomeNavigate" Style="width:150px;height:150px;background-color:#ffffff00">
        <RadzenImage Path="Icons\logo.png" Style="width:150px;"/>
    </RadzenButton>

    <RadzenButton Click="FriendsNavigate" Style="width:100px;height:100px;background-color:#ffffff00">
        <RadzenImage Path="Icons\addUser.png" Style="width:30px;"/>
        <br/>
        Friends
    </RadzenButton>

    <RadzenButton  Click="NotificationNavigate" Style="width:100px;height:100px;background-color:#ffffff00">
        <RadzenImage Path="Icons\notification.png" Style="width:30px;" />
        <br/>
        Notifications
    </RadzenButton>

    <RadzenButton Text="Profile" Click="ProfileNavigate" Style="width:100px;height:100px;background-color:#ffffff00">

    </RadzenButton>

    <RadzenButton Text="LogOut"  Click="LogoutNavigate" Style="width:100px;height:100px;background-color:#ffffff00">

    </RadzenButton>
</div> *@

@* <div style="display: flex; align-items:center;justify-content: space-between;">
    <RadzenButton Style="width:100px;height:100px;background-color:#ffffff00; align-items:center">
        <RadzenImage Path="Icons/settings.png" Style="width:30px;"/>
        <br/>
        Settings
    </RadzenButton>
    
    <RadzenButton Click="TournamentNavigate" Style="align-content:center;width:100px;height:100px;background-color:#ffffff00">
        <RadzenImage Path="Icons\tournament.png" Style="width:30px;"/>
        <br/>
        Tournament
    </RadzenButton>

    <RadzenButton Click="ClansNavigate" Style="width:100px;height:100px;background-color:#ffffff00">
        <RadzenImage Path="Icons\team.png" Style="width:30px;"/>
        <br/>
        Clans
    </RadzenButton>

    <RadzenButton Click="HomeNavigate" Style="width:150px;height:150px;background-color:#ffffff00">
        <RadzenImage Path="Icons\logo.png" Style="width:150px;"/>
    </RadzenButton>

    <RadzenButton Click="FriendsNavigate" Style="width:100px;height:100px;background-color:#ffffff00">
        <RadzenImage Path="Icons\addUser.png" Style="width:30px;"/>
        <br/>
        Friends
    </RadzenButton>

    <RadzenButton Text="Notifications" Click="NotificationNavigate" Image="Icons\notification.png" Style="width:100px;height:100px;background-color:#ffffff00">
        <RadzenImage Path="Icons\notification.png" Style="width:30px;" />
        <br/>
        Notifications
    </RadzenButton>

    <RadzenButton Text="Profile" Click="ProfileNavigate" Style="width:100px;height:100px;background-color:#ffffff00">

    </RadzenButton>

    <RadzenButton Text="LogOut"  Click="LogoutNavigate" Style="width:100px;height:100px;background-color:#ffffff00">

    </RadzenButton>
</div> *@

@code{

    private void HomeNavigate() 
    {
        NavigationManager.NavigateTo("home");
    }
    
    private void TournamentNavigate()
    {
        NavigationManager.NavigateTo("tournament");
    }

    private void ClansNavigate()
    {
        NavigationManager.NavigateTo("clans");
    }

    private void FriendsNavigate()
    {
        NavigationManager.NavigateTo("friends");
    }

    private void NotificationNavigate()
    {
        NavigationManager.NavigateTo("notifications");
    }

    private void ProfileNavigate()
    {
        NavigationManager.NavigateTo("profile");
    }

    private void LogoutNavigate()
    {
        NavigationManager.NavigateTo("");
    }

}