@namespace Components
<div>
    <RadzenButton Text="Setting"></RadzenButton>
    <RadzenButton Text="Tournament"></RadzenButton>
    <RadzenButton Text="Clans"></RadzenButton>
    LOGO
    <RadzenButton Text="Friends"></RadzenButton>
    <RadzenButton Text="Notification"></RadzenButton>
    <RadzenButton Text="Profile"></RadzenButton>
    <RadzenButton Text="LogOut"></RadzenButton>
</div>
