@namespace Components

<div>
    <RadzenIcon Icon="account_circle" /> Friend 1 <br>
    <RadzenIcon Icon="account_circle" /> Friend 1 <br>
    <RadzenIcon Icon="account_circle" /> Friend 1 <br>
    <RadzenIcon Icon="account_circle" /> Friend 1 <br>
</div> 