@using Crowd_CTRL.Pages
@namespace Components
@inject NavigationManager NavigationManager

<style>
    .SidebarHeader{
        font-size: 2em;
        text-align: center;
    }
</style>
<div>
    <div class="SidebarHeader">
        Friends
    </div>
    @foreach (var friend in Program.Friends)
    {
        <div>
            <button class="btn btn-dark" @onclick="() => UserNavigate(friend.Username)">
                <img src="@friend.ProfilePicture" alt="@friend.Username profile picture" height="24px" width="24px">
                @friend.Username
            </button>
            <div>
                @friend.Status
            </div>
        </div>
    }
    <hr style="border-top: 1px solid white">
</div>

@code
{
    private void UserNavigate(string username)
    {
        NavigationManager.NavigateTo("/profile/" + username);
    }
}