@using Crowd_CTRL.Pages
@namespace Components
<style>
    .SidebarHeader{
        font-size: 2em;
        text-align: center;
    }
</style>
<div>
    <div class="SidebarHeader">
        Friends
    </div>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <hr style="border-top: 1px solid white">
    @foreach (var friend in Program.Friends)
    {
        <div>
            <img src="@friend.ProfilePicture" alt="@friend.Username profile picture" height="24px" width="24px"> 
            @friend.Username
            <div>
                
            </div>
        </div>
    }
</div>
@code
{

}
 