@using Crowd_CTRL.Pages
@namespace Components
@inject NavigationManager NavigationManager

<style>
    .SidebarHeader{
        font-size: 2em;
        text-align: center;
    }
    
    
    .friend:hover{
        background-color: rgba(255,255,255,0.05);
        cursor: pointer;
    }
    
    
    .friendAvatar{
        border-radius: 50%;
    }
</style>
<div>
    <div class="SidebarHeader">
        Friends
    </div>
    @foreach (var friend in Program.Friends)
    {
        <div class="friend" @onclick="() => UserNavigate(friend.Username)" style="width: 90%; color: white">
            <div class="row">
                <div class="col-2" style="padding-left: 3px">
                    <img src="@friend.ProfilePicture" alt="@friend.Username profile picture" height="48px" width="48px" class="friendAvatar">
                </div>
                <div class="col">
                    <div style="text-align: left"> 
                        @friend.Username
                    </div>
                    <div style="font-size: 0.75em; text-align: left">
                        @friend.Status
                    </div>
                </div>
            </div>
        </div>
    }
    <hr style="border-top: 1px solid white">
</div>

@code
{
    private void UserNavigate(string username)
    {
        NavigationManager.NavigateTo("profile/" + username);
    }
}