@namespace Components

<div>
    Friends<br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <hr style="border-top: 1px solid white">
</div> 