@namespace Components
<style>
    .SidebarHeader{
        font-size: 2em;
        text-align: center;
    }
</style>
<div>
    <div class="SidebarHeader">
        Friends
    </div>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <RadzenIcon Icon="account_circle"/> Friend 1 <br>
    <hr style="border-top: 1px solid white">
</div> 