@namespace Components
<style>

</style>
<div class="main-profile-container" style="display: table; width:100%">
    <div class="main-profile-info-container" style="display: table-row; height: 100%;">
        <div style="display: table-cell; height: 100%;">
            <RadzenIcon Icon="account_box" style="height: 100%; width:100%;"/>
        </div>
        <div style="display: table-cell;">
            <h2>GhostCluster1990</h2><br>
            <div style="color: #4d4d4d;">
                <h5>Battle.net: Ghosty#1870</h5>
                <h5>Steam: Ghost_cluster19</h5>
            </div>
        </div>
        
    </div>
    <div class="other-profile-info-container"></div>
</div>

@code{

}