@page "/friends"
@layout Shared.SocialLayout
@inject NavigationManager NavigationManager
@* @using Components *@
<Crowd_CTRL.Shared.ConfirmModal @ref="ConfirmModal"></Crowd_CTRL.Shared.ConfirmModal>

<style>
    .main-friend-search-container{
        padding-top: 10px;
        min-height: 500px;
        margin: auto;
        width: 80%;
        height: 100%;
    }
    .search-container{
        padding-bottom: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-results-container{
        height: 90%;
        background-color: rgba(255,255,255,0.05);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
        width: 100%;
    }
    .res-list{
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    hr{
        color: white;
        background-color: white;
        width: 100%;
    }
    .friend-item{
        width: 100%;
        display: flex;
        align-items: center;

    }
    .friend-actions{
        margin-left: auto;
        @* display: inline-block; *@
    }
    .friend-action-button{
        display: inline-block;
        height: 30px;
        padding: 0;
        margin: 0;
        vertical-align: top;
        width: 30px;
        border-width: 0px;
        background-color:#ffffff00;
        align-items: center;
    }
    .friend-search-other-prompt{
        width: 95%;
        align-self: center;
        height: 35%;
        justify-content: center;
        align-items: flex-end;
        display: flex;
    }
    
</style>

<h1 style="text-align: center;">FRIENDS</h1>
<div class="main-friend-search-container">
    <div class="search-container">
        <EditForm style="display: flex; justify-content: center;" Model="@friend" OnSubmit=@FormSubmitted>
            <InputText placeholder="Search For Users" id="searchBox" name="searchBox" style="width: 89%; color: white; background-color: #4d4d4d;" @bind-Value="friend.Name" /> 
            <div style="text-align: center">
                <button class="btn btn-primary">Search</button>
            </div>
        </EditForm>
    </div>
    <div class="list-header">
        <h2>@resTitle</h2>
    </div>
    
    <div class="search-results-container">
        @if (@friend.Name == ""){
            <div class="res-list">
                <div class="friend-item">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 1" />
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" @onclick='() => ConfirmModal.Open("Friend 1")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                        </button>

                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:27px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 2" />
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" @onclick='() => ConfirmModal.Open("Friend 2")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                        </button>

                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:27px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 3" />
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" @onclick='() => ConfirmModal.Open("Friend 3")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                        </button>

                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:27px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 4" />
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" @onclick='() => ConfirmModal.Open("Friend 4")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                        </button>

                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:27px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 5" />
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" @onclick='() => ConfirmModal.Open("Friend 5")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                        </button>

                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:27px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 6" />
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" @onclick='() => ConfirmModal.Open("Friend 6")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                        </button>

                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:27px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                    </div>
                    
                </div>
                <hr>
                <div class="friend-item">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Friend 7" />
                    
                    <div class="friend-actions">
                        <button class="friend-action-button" @onclick='() => ConfirmModal.Open("Friend 7")'>
                            <RadzenIcon Style="font-size:32px; color: red;" Icon="clear" />
                        </button> 
                        
                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:31px; color: #0C9CED;" Icon="notifications_off" />
                        </button>

                        <button class="friend-action-button">
                            <RadzenIcon Style="font-size:27px; color: white; justify-self: flex-end;"  Icon="chat" />
                        </button>
                    </div>
                    
                </div>

            </div>
        }
        @if(@friend.Name != ""){
            <div class="res-list">
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="@friend.Name" />
                    
                    <div class="friend-actions">
                        <button class="btn btn-primary">
                            Add Friend
                        </button>

                    </div>
                    
                </div>
                <hr>
                <div class="friend-search-other-prompt">
                    <div style="text-align: center;">
                        <h2>Others you may know</h2>
                        <h4>(based on past games played and common friends)</h4>
                    </div>
                    
                </div>
                <br>
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Other User 1" />
                    
                    <div class="friend-actions">
                        <button class="btn btn-primary">
                            Add Friend
                        </button>

                    </div>
                    
                </div>
                <hr>
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Other User 2" />
                    
                    <div class="friend-actions">
                        <button class="btn btn-primary">
                            Add Friend
                        </button>

                    </div>
                    
                </div>
                <hr>
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Other User 3" />
                    
                    <div class="friend-actions">
                        <button class="btn btn-primary">
                            Add Friend
                        </button>

                    </div>
                    
                </div>
                <hr>
                <div class="friend-item" style="width: 90%; align-self: center;">
                    <div style="padding-right: 10px; padding-left: 10px;"><RadzenIcon Style="font-size:35px;" Icon="account_circle"/></div>
                    <RadzenLink style="color: white; font-size:20px;" Path="user_profile" Text="Other User 4" />
                    
                    
                    <div class="friend-actions">
                        <button class="btn btn-primary">
                            Add Friend
                        </button>

                    </div>
                    
                </div>
            </div>
        }
        
    </div>

</div>

@code{

    private Crowd_CTRL.Shared.ConfirmModal ConfirmModal { get; set; }

    string resTitle = "My Friends";

    private Crowd_CTRL.Friend friend = new Crowd_CTRL.Friend("");
    private void FormSubmitted()
    {
        resTitle = "Friend Search";
        
    }
    private void UserProfileNavigate()
    {
        NavigationManager.NavigateTo("user_profile");
    }

}