@page "/"
@inject NavigationManager NavigationManager
<style>
        .jumbotron {
            text-align: center;
            background-color: #121212;
            margin-top: 10%;
        }
</style>
<div class="container" style="text-align: center;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1 style="font-size: 50px">Welcome to <span class="spantitle" style="color: #7289da; font-size: 50px">Crowd CTRL</span></h1>
                <h2>Connect, Play, Share!</h2>

            </div>
        </div>
    </div>
    <button
        class="btn btn-primary"
        Text="Login"
        Style="margin-bottom: 20px; width: 150px"
        @onclick="LoginNavigate">
        Login
    </button>
    <br>
    <button
        class="btn btn-primary"
        Style="margin-bottom: 20px; width: 150px"
        @onclick="SignupNavigate">
        Sign Up
    </button>
</div>

@code{

    private void LoginNavigate()
    {
        NavigationManager.NavigateTo("login");
    }

    private void SignupNavigate()
    {
        NavigationManager.NavigateTo("signup");
    }

}