@page "/"
@inject NavigationManager NavigationManager

<h1>Crowd Control</h1>

Welcome to your new app.
<br>
<RadzenButton 
Text="Login" 
Style="margin-bottom: 20px; width: 150px" 
Click="LoginNavigate"/>
<br>
<RadzenButton 
Text="Sign Up" 
Style="margin-bottom: 20px; width: 150px" 
Click="SignupNavigate"/>

@code{
    private void LoginNavigate() {
         NavigationManager.NavigateTo("login"); 
    }
        private void SignupNavigate() {
         NavigationManager.NavigateTo("signup"); 
    }
}