@page "/"
@inject NavigationManager NavigationManager
<style>
        .jumbotron {
            text-align: center;
            background-color: #121212;
            margin-top: 10%;
        }
</style>
<div class="container" style="text-align: center;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1 style="font-size: 50px">Welcome to <span class="spantitle" style="color: #7289da; font-size: 50px">Crowd CTRL</span></h1>
                <h2>Connect, Play, Share!</h2>

            </div>
            <div style="display: flex; width:100%; padding-bottom: 20px;">
                <div style="width: 60%; text-align: justify; margin: auto;">
                    <p>People need to connect with each other, and this is more relevant than
                        ever given the COVID-19 pandemic. In fact gaming is more popular than ever
                        with an estimated 2.81 billion gamers!<br><br>
                        This is Crowd CTRL! An experience at this intersection that aims to bring you
                        and your friends closer than ever through the medium of video gaming. And to make new
                        ones too!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button
        class="btn btn-primary"
        Text="Login"
        Style="margin-bottom: 20px; width: 150px"
        @onclick="LoginNavigate">
        Login
    </button>
    <br>
    <button
        class="btn btn-primary"
        Style="margin-bottom: 20px; width: 150px"
        @onclick="SignupNavigate">
        Sign Up
    </button>
</div>

@code{

    private void LoginNavigate()
    {
        NavigationManager.NavigateTo("login");
    }

    private void SignupNavigate()
    {
        NavigationManager.NavigateTo("signup");
    }

}