@page "/signup"
@inject NavigationManager NavigationManager
<div>
    <h1>Crowd Control</h1>
    <h2>Sign Up:</h2>

    <br>
    Username:
    <RadzenTextBox Placeholder="Username"/>
    <br>
    Password:
    <RadzenPassword Placeholder="Enter password..."/>
    <RadzenButton Text="SignUp" Click="HomeNavigate"/>
</div>

@code{

    private void HomeNavigate()
    {
        NavigationManager.NavigateTo("/home");
    }

}