@page "/signup"

<h1>Crowd Control</h1>
<h2>Sign Up:</h2>

    <br>
    Username:
    <RadzenTextBox Placeholder="Username"/>
    <br>
    Password:
    <RadzenPassword Placeholder="Enter password..." />
