@page "/tournament"
@layout Shared.SocialLayout
@inject NavigationManager NavigationManager

<style>
    .content{
        color: white;
        background-color: rgba(255,255,255,0.05);
        margin: 0px 20px 20px 20px;
        grid-area: cont;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header header"
            "name game teams date action"
            "name game teams date action"
            "name game teams date action"
            "name game teams date action";
    }

    .header{
        background-color: rgba(255,255,255,0);
        color: white;
        text-align: center;
        grid-area: content > header;
    }

    .name{
        font-size: 0.75em;
        margin: 5px 0px 0px 10px;
        grid-area: content > name;
        text-align: center;
        background-color: rgba(255,255,255,0.05);
    }

    .game {
        font-size: 0.75em;
        margin: 5px 0px 0px 0px;
        background-color: rgba(255,255,255,0.05);
        grid-area: content > game;
        text-align: center;
    }

    .teams {
        font-size: 0.75em;
        margin: 5px 0px 0px 0px;
        grid-area: content > teams;
        text-align: center;
        background-color: rgba(255,255,255,0.05);
    }

    .date {
        font-size: 0.75em;
        margin: 5px 0px 0px 0px;
        background-color: rgba(255,255,255,0.05);
        grid-area: content > date;
        text-align: center;
    }

    .action {
        font-size: 0.75em;
        background: #667EFD;
        margin: 15px 30px 10px 30px;
        grid-area: content > action;
        text-align: center;
    }

    .TournamentContainer{
        font-size: 1.5em;
        min-height: 300px;
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: 
            "join create"
            "cont cont"
            "cont cont"
            "cont cont";
    }
    
    .TournamentButton{
        max-width: 200px;
        margin: 30px auto;
        font-size: 2em;
    }
    
    #join{
        grid-area: join;
    }
    
    #create{
        grid-area: create;
    }

    .empty-vertical{
        height: 20px;
    }

</style>

<h1 style="text-align: center;">TOURNAMENTS</h1>
<div class="TournamentContainer">
    <button id="join" class="TournamentButton btn btn-primary" >JOIN</button>
    <button id="create" class="TournamentButton btn btn-primary" @onclick="TournamentCreateNavigate">CREATE</button>
    <div class="content">

        <div class="header">Tournament Name</div>
        <div class="header">Game</div>
        <div class="header">Number of Teams</div>
        <div class="header">Date</div>
        <div class="header">Action</div>

        @foreach(ATournament tour in _oldTournaments) {
                    <div class="name">@tour.TournamentName</div>
                    <div class="game">@tour.GameName</div>
                    <div class="teams">@tour.NumberOfTeams</div>
                    <div class="date">@tour.TDate</div>
                    <button class="action btn btn-primary">View bracket</button>
        }
    </div>
</div>

@code {
    
    private void TournamentCreateNavigate() 
    {
        NavigationManager.NavigateTo("tournament-create");
    }

    static string date_string_1 = "02/04/2021 19:35";
    static string date_string_2 = "31/03/2021 21:00";
    static string date_string_3 = "29/03/2021 17:45";
    static string date_string_4 = "29/03/2021 20:30";

    
    

    static ATournament t1 = new ATournament("League Fridays #31", "League of Legends", 6, "", new List<ATeam>(){new ATeam(1, "Excelsior")}, date_string_1);
    static ATournament t2 = new ATournament("Overwatch Daily", "Overwatch", 12, "", new List<ATeam>(){new ATeam(1, "Excelsior")}, date_string_2);
    static ATournament t3 = new ATournament("Tournament Testing", "Rocket League", 6, "", new List<ATeam>(){new ATeam(1, "Excelsior")}, date_string_3);
    static ATournament t4 = new ATournament("League Fridays #30", "League of Legends", 6, "", new List<ATeam>(){new ATeam(1, "Excelsior")}, date_string_4);

    public static List<ATournament> _oldTournaments = new List<ATournament>() {t1, t2, t3, t4};
    
}