@page "/tournament"
@layout Shared.SocialLayout

<style>


    .button{
        border: 1px solid black;
        color: #C7EAE1;
        text-align: center;
    }

    .content{
        margin: 0px 20px 20px 20px;
        background: #C4C4C4;
        grid-area: cont;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header header"
            "name game teams date action"
            "name game teams date action"
            "name game teams date action"
            "name game teams date action";
    }

    .header{
        background: #C4C4C4;
        text-align: center;
        grid-area: content > header;

    }

    .name{
        font-size: 0.75em;
        margin: 5px 0px 0px 10px;
        color: black;
        background: #C7EAE1;
        grid-area: content > name;
        text-align: center;

    }

    .game {
        font-size: 0.75em;
        margin: 5px 0px 0px 0px;
        color: black;
        background: #C7EAE1;
        grid-area: content > game;
        text-align: center;
    }

    .teams {
        font-size: 0.75em;
        margin: 5px 0px 0px 0px;
        color: black;
        background: #C7EAE1;
        grid-area: content > teams;
        text-align: center;
    }

    .date {
        font-size: 0.75em;
        margin: 5px 0px 0px 0px;
        color: black;
        background: #C7EAE1;
        grid-area: content > date;
        text-align: center;
    }

    .action {
        
        font-size: 0.75em;
        color: black;
        background: #667EFD;
        @* margin: 5px 20px 0px 20px; *@
        margin: 15px 30px 10px 30px;
        grid-area: content > action;
        text-align: center;
    }

    .container{
        border: 1px solid white;
        font-size: 1.5em;
        min-height: 300px;
        width: 100%;
        background: black;
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: 
            "join create"
            "cont cont"
            "cont cont"
            "cont cont";
    }

    .join {
        
        max-width: 160px;
        background: #667EFD;
        margin: 30px;
        grid-area: container > join;
        
    }
    
    .create{
        max-width: 160px;
        background: #667EFD;
        margin: 30px;
        grid-area: container > create;
        
    }

    .empty-vertical{
        height: 20px;
    }

</style>

<div class="container">
    <button class="join" style="margin-left: auto; margin-right: auto;">JOIN</button>
    <button class="create" style="margin-left: auto; margin-right: auto;">CREATE</button>
    <div class="content">
        <div class="header">Tournmament Name</div>
        <div class="header">Game</div>
        <div class="header">Number of Teams</div>
        <div class="header">Date</div>
        <div class="header">Action</div>

        <div class="name">Tournmament Name</div>
        <div class="game">Game</div>
        <div class="teams">Number of Teams</div>
        <div class="date">Date</div>
        <button class="action button">ACTION</button>

        <div class="name">Tournmament Name</div>
        <div class="game">Game</div>
        <div class="teams">Number of Teams</div>
        <div class="date">Date</div>
        <button class="action button">ACTION</button>

        <div class="name">Tournmament Name</div>
        <div class="game">Game</div>
        <div class="teams">Number of Teams</div>
        <div class="date">Date</div>
        <button class="action button">ACTION</button>

        <div class="name">Tournmament Name</div>
        <div class="game">Game</div>
        <div class="teams">Number of Teams</div> 
        <div class="date">Date</div>
        <button class="action button">ACTION</button>
    </div>

</div>

@code {
    
}