<style>
    {box-sizing: border-box;}

    .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    @* background-color: #4d4d4d; *@
    }

    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    position: fixed;
    bottom: 0;
    right: 28px;
    width: 220px;
    }

    /* The popup chat - hidden by default */
    .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #4d4d4d;
    }

    /* Full-width textarea */
    .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
    }

    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
    background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
    opacity: 1;
    }

    .cancel-chat-btn {
        display: inline-block;
        height: 30px;
        padding: 0;
        margin: 0;
        vertical-align: top;
        width: 30px;
        border-width: 0px;
        background-color:#ffffff00;
        align-items: center;
        padding-top: 10%;
    }
    .name-display-btn{
        background-color:#ffffff00;
        color: white;
        border-width: 0px;
        cursor: pointer;
        opacity: 0.8;
    }
    .name-display-btn:hover{
        background-color: #4D4D4D;
    }
    .min-chat-btn{
        padding: 0;
        margin: 0;
        height: 30px;
        width:30px;
        border-width: 0px;
        background-color:#ffffff00;
    }
</style>

<div class="open-button" style="display:@chatButtonDisplay;">
    <button @onclick="() => Open()" class="name-display-btn">
        <div style="width: 100%; display: inline-flex; font-size:18px;">
            @friendName
        </div>
    </button>
    <div style="margin-left: auto;">
        <button class="cancel-chat-btn" @onclick="() => CancelChat()">
            <RadzenIcon Style="font-size:25px; color: red;" Icon="clear" />
        </button>
    </div>
</div>



<div class="chat-popup" id="myForm" style="display: @chatDisplay">
    <form action="/action_page.php" class="form-container">
        <div style="display: inline-flex; width:100%;">
            <h3>@friendName</h3>

            <div style="margin-left: auto; display:inline-flex;">
                <button type="button" class="min-chat-btn" @onclick="() => Close()">
                    <RadzenIcon Style="font-size:24px; color: white;" Icon="keyboard_arrow_down" />
                </button>
                <button type="button" class="min-chat-btn" @onclick="() => CancelChat()">
                    <RadzenIcon Style="font-size:24px; color: white;" Icon="clear" />
                </button>
            </div>
            
        </div>
        

        <textarea class="messageBox" placeholder="Type message.." name="msg" required></textarea>

        <button type="submit" class="btn">Send</button>
        
    </form>
</div>

@code{
    public Guid guid = Guid.NewGuid();
    public string friendName;
    public string chatDisplay = "none";
    public string chatButtonDisplay="none";

    public bool messageSent = false;

    public void Open(){
        chatDisplay = "block";
        StateHasChanged();
    }

    public void Close(){
        chatDisplay = "none";
        StateHasChanged();
    }

    public void StartChat(String fName){
        chatButtonDisplay = "inline-flex";
        friendName = fName;
        Open();
        StateHasChanged();
    }

    public void CancelChat(){
        chatButtonDisplay = "none";
        chatDisplay = "none";
        friendName = "";
        Close();
        StateHasChanged();
    }
}