@inherits LayoutComponentBase
@using Components

<style>
    .flex{
        display: flex;
        flex-wrap: wrap;
        background-color: #121212;
        color: white;
    }
    .flex-header{
        flex: 0 1 100%;
    }
    .main-content{
        flex: 80 1 70%;
    }
    .main-sidebar{
        flex: 0 0 7%;
    }
    .break {
      flex-basis: 100%;
      height: 0;
    }
</style>
<div class="flex">
    <div class="flex-header">
        <CrowdHeader/>
    </div>
    <div class="main-content">
        @Body
    </div>
    <div class="main-sidebar">
        <FriendSidebar/>
        <ClanSidebar/>
    </div>
</div>