@inherits LayoutComponentBase
@using Components

<style>
    .flex{
        display: flex;
        flex-wrap: wrap;
        background-color: #121212;
        color: white;
    }
    .flex-header{
        flex: 0 1 100%;
        background-color: rgba(255,255,255,0.05);
    }
    .main-content{
        flex: 80 1 70%;
        padding-top: 15px;
    }
    .main-sidebar{
        /*flex: 0 0 7%;*/
        flex: 0 0 15%;
        
    }
    .break {
      flex-basis: 100%;
      height: 0;
    }
</style>
<div class="flex">
    <div class="flex-header">
        <CrowdHeader/>
    </div>
    <div class="main-content">
        @Body
    </div>
    <div class="main-sidebar">
        <div class="card" style="background-color: rgba(255,255,255,0.05); margin-top: 10%;">
            <FriendSidebar/>
            <ClanSidebar/>
        </div>
    </div>
</div>